/*color palette to copy and paste
dark blue: #61adc4
light blue: #acd3e6
white: #ffffff
light pink: #f678a7
dark pink: #e64072
navy: #162d4f
*/
body {
    margin: 0;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.title {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.globe-card {

}
#musicrec {
    font-style: italic;
}
.ticker1 {
    padding: 10px;
    color: #e64072;
}
.ticker {
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}
.ticker-track {
    background: #61adc4;
    padding: 30px;
    color: #162d4f;
    display: inline-block;
    animation: scroll-left 15s linear infinite;
    font-size: 40px;
}
@keyframes scroll-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}